<section class="hero-section">
    <div class="overlay"></div>

    <div class="container position-relative">
        <div class="row align-items-center min-vh-100">

            <div class="col-lg-6 text-light">

                <p class="hero-subtitle">
                    CHÓR • MUZYKA • PASJA
                </p>

                <h1 class="hero-title">
                    Zarządzaj swoim chórem
                    w nowoczesny sposób 
                </h1>

                <ul class="hero-list">
                    <li>Harmonogram prób i koncertów</li>
                    <li>Repertuar i materiały muzyczne</li>
                    <li>Ogłoszenia dla członków chóru</li>
                    <li>Nowoczesny panel administracyjny</li>
                </ul>

                <div class="mt-4">
                    <a class="btn btn-gold btn-lg me-3">
                        Koncerty
                    </a>

                    <a class="btn btn-outline-light btn-lg">
                        Zaloguj się
                    </a>
                </div>

            </div>

            <div class="col-lg-6 text-center">
                <img src="~/images/choir.png"
                     class="img-fluid hero-image"
                     alt="Choir">
            </div>

        </div>
    </div>
</section>