@model choir_app.Models.Events

<h1>Edytuj wydarzenie</h1>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div>
        <label>Nazwa</label>
        <input asp-for="Name" />
    </div>

    <div>
        <label>Data</label>
        <input asp-for="Date" type="date" />
    </div>

    <div>
        <label>Lokalizacja</label>
        <input asp-for="Location" />
    </div>

    <button type="submit">Zapisz zmiany</button>

</form>