@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<form method="post" asp-action="Login">
    <div>
        <label>Email</label>
        <input type="text" name="email" />
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>

    <button type="submit">Zaloguj</button>
</form>