@{
    ViewData["Title"] = "Register";
}

<h2>Rejestracja</h2>

<form method="post" asp-action="Register">
    <div>
        <label>Email</label>
        <input type="email" name="email" required />
    </div>

    <div>
        <label>Hasło</label>
        <input type="password" name="password" required />
    </div>

    <div>
        <label>Powtórz hasło</label>
        <input type="password" name="confirmPassword" required />
    </div>

    <button type="submit">Zarejestruj</button>
</form>

<p>
    Masz już konto?
    <a href="/Account/Login">Zaloguj się</a>
</p>