@model List<choir_app.Models.News>

<h1>Aktualności</h1>

<a href="/News/Create">Dodaj news</a>

@foreach (var n in Model)
{
    <div style="margin-bottom: 15px;">
        <h3>@n.Title</h3>
        <p>@n.Content</p>
        <small>@n.CreatedAt</small>

        <div>
            <a href="/News/Edit/@n.Id">Edytuj</a> |
            <a href="/News/Delete/@n.Id">Usuń</a>
        </div>
    </div>
}